.FlexContainer {
    display: flex;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.seccion1 {
    background-image: url("imagen/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    height: 666px;
    width: 100%;
}

.titulo1 {
    padding-top: 100px;
    font-size: 90px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.seccion2 {
    background-color: bisque;
    width: 100%;
    height: 600px;
}

.titulo2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
    margin-left: 80px;
}

.detalles2 {
    font-size: 24px;
    width: 30%;
}

.moyobamba {
    width: 70%;
}

.seccion3 {
    background-color: gray;
    width: 100%;
    height: 550px;
}

.mapa {
    width: 70%;
    margin-left: 24px;
    margin-top: 24px;
    height: 500px;
}

.titulo3 {
    color: white;
    text-decoration: underline;
    font-size: 36px;
    margin-top: 40px;
    margin-left: 24px;
}

.detalles3 {
    margin-left: 24px;
    color: white;
    font-size: 24px;
}

.seccion4 {
    background-color: bisque;
    width: 100%;
    height: 500px;
}

.seccion4Izq, .seccion4Der {
    width: 50%;
}

.titulo4 {
    color: black;
    text-decoration: underline;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 40px;
}

.lista4 {
    font-size: 20px;
}

.gobernador {
    margin-left: 24px;
    width: 400px;
    margin-top: 100px;
}


.seccion5Der {
    background-image: url("imagen/fondosesion5.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 160%;
    height: 700px;
    width: 160%;
    margin-top: 0%;
    margin-left: 0%;
    
}


.zona1 {
    width: 500px;
    height: 230px;
}
.zona2 {
    width: 500px;
    height: 232px;
}
.zona3 {
    width: 500px;
    height: 230px;
}

.titulo5 {
    color: black;
    text-decoration: underline;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 60px;
}
.lista5 {
    color: black;
    font-size: 30px;
    margin-top: 90px;
    margin-left: 0px;
}